<!DOCTYPE HTML>
<!--
  Eventually by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Talco</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
  </head>
  <body>

    <header id="header">
      <h1>Talco</h1>
      <p>Gordon write some shit. and make us social media to link to at the bottom</p>
    </header>

    <form class="signup-form" target="_blank" action="https://talcoapp.us15.list-manage.com/subscribe/post" method="POST">
      <input type="hidden" name="u" value="7533a843d2399eebb9f6c3300">
      <input type="hidden" name="id" value="0f6b34b318">
      <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="">

      <input type="submit" class="button" name="submit" value="Let me know">

      <input type="hidden" name="ht" value="01f86a191f7f3d329feb7cd519d5b3e2d78d20e7:MTQ4OTM1MTU4Ni43MTkz">
      <input type="hidden" name="mc_signupsource" value="hosted">
    </form>


    <!-- Footer -->
    <footer id="footer">
      <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Untitled.</li><li>Credits: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </footer>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

  </body>
</html>
